
@font-face{
    font-family:basefont;
    src:url('fonts/basefont.eot');
    src:url('fonts/basefont.eot?#iefix') format('embedded-opentype') ,
    url('fonts/basefont.woff') format('woff'),
    url('fonts/basefont.ttf') format('truetype'),
    url('fonts/basefont.svg') format('svg');
}

p {
    font-size: 32px;
    text-align: center;
    margin-top: 14px;
}

h1 {
    font: 22px Arial, sans-serif;
    cursor: pointer;
}

label {
    font: 16px Arial,sans-serif;
}

input {
    font-size: 1em;
    width: 170px;
    margin: 0;
    border: 0;
    color: inherit;
    line-height: 1.5;
    padding: .25em 0;
    box-shadow: inset 0 -2px #ccc
}

input:hover {
    box-shadow: inset 0 -2px #b9b5b5;
}

input:focus {
    outline: none;
    box-shadow: inset 0 -2px #449fdb;
}

form {
    display: table;
    margin: 20px 15px;
}

.head {
    width: 100%;
    position: fixed;
    z-index: 111;
    top: 0;
    right: 0;
}

.bar-btn {
    display: block;
    width: 60%;
    margin: 0 auto;
    background: #efefef;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.button {
    font: 16px Arial,sans-serif;
    border-radius: .3125em;
    background-color: #e1e1e1;
    padding: 10px;
    border: 2px solid #b9b5b5;
    margin-left: 5px;
    cursor: pointer;
}

.button-selected {
    background-color: #fff;
    border-color: #ffbb4d;
}

.field {
    font-family: basefont;
    display: table;
    width: 60%;
    background: #ebebeb;
    position: relative;
    box-shadow: 0 0 12px 4px #ccc;
    margin: 70px auto;
    padding: 20px;
    table-layout: fixed;
    box-sizing: border-box;
}

.set-name {
    font: 32px Arial, sans-serif;
    padding: 7px;
    position: relative;
    top: 3px;
}

.icon, div.selected.ui-selecting {
    width: 62px;
    height: 62px;
    background-color: #d9d9d9;
    margin: 5px;
    border-radius: .3125em;
    display: inline-block;
    cursor: pointer;
}

.icon:hover {
    box-shadow: inset 0 0 0 .1875em #b9b5b5;
}

.selected, .selected:hover, div.ui-selecting {
    background-color: #fff;
    box-shadow: inset 0 0 0 .1875em #ffbb4d;
}

.cell span {
    width: 16px;
    box-sizing: content-box;
    display: inline-block;
    padding-right: 5px;
    position: relative;
    top: 15%;
}

.ibkg {
    height: 1.4em;
    background-color: #fff;
    box-shadow: inset 0 -2px #ccc
}

.remove {
    font: 17px Arial,sans-serif;
    display: inline;
    margin: 5px;
    cursor: pointer;
}

.code, .code2 {
    width: 100px;
}

.code2 {
    text-align: right;
}

.invalid-data {
    outline: none;
    box-shadow: inset 0 -2px #db181f !important;
}

#edit-data div {
    display: inline-block;
    padding: 5px;
}

#font-field {
    display: none;
}

#download, #show-config {
    position: relative;
    float: right;
    top: -10px;
    margin-right: 5px;
}